  .head{
    display: flex;
    justify-content: end;
}

.head h1{
   margin-right: 20%;
   color: #fff;
}
.pho{
    margin-right: 40px;
    margin-top: 40px;
}
.loc{
    margin-right: 40px;
    margin-top: 40px;
}
.pho a{
    text-decoration: none;
    color: #000;
}
.pho a:hover{
   color: #fff;
   transition: 0.3s all ease 0s;

}

.loc a{
    padding: 15px;
    text-decoration: none;
    border-radius: 20px;
    margin-bottom: 10px;
    background-color: blue;
    color: black;
}
.loc a:hover{
    color: #fff;
    transition: 0.3s all ease 0s;
    background-color: chocolate;
}



#all{
    background-image: url(../css/img/sivaganga-1656013801_c196928c461ae2a3c25b.webp);
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    z-index: 1;
}

#all:before {
    position: absolute;
    content: '';
    background-image: linear-gradient(to right, rgba(32, 40, 119, 0.95), rgba(55, 46, 149, 0.95), rgba(83, 49, 177, 0.90), rgba(114, 48, 205, 0.85), rgba(150, 41, 230, 0.95));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: -1;
}


h2{
    margin-top: 50px;
    color: aqua;
    text-shadow: 5px 8px#000;
}


p{
    padding: 10px  30px;
    line-height: 2;
    color: #fff;
    text-transform: capitalize;
    text-indent: 30px;
    text-align: justify;
}

button{
    float: right;
    padding: 15px;
    margin-top: 50px;
    margin-right: 40px;
    border-radius: 20px;
    border: none;
}
.you{
    background-color: red;
}
.fac{
    background-color: blue;
}
.goo{
    background-color: green;
}
button a{
    text-decoration: none;
    color: #fff;
}
button a:hover{
    transition: 0.3s all ease 0s;
    color: #000;
}
